update_project.sh
exclude/

# ------------
# API

API/src/Aberta.Tests
API/src/AbertaAPI.sln.DotSettings.user
API/src/.idea
API/src/Aberta.API/bin
API/src/Aberta.API/obj
API/src/Aberta.API/appsettings.Development.json


# ------------
# BackOffice

BackOffice/src/.idea
BackOffice/src/Aberta.BackOffice.sln.DotSettings.user

BackOffice/src/Aberta.BackOffice/appsettings.Development.json

BackOffice/src/Aberta.BackOffice/bin
BackOffice/src/Aberta.BackOffice/obj


# ------------
# Scanner

Scanner/src/.idea
Scanner/src/Aberta.Scanner/bin

Scanner/src/Aberta.Scanner/obj

Scanner/src/Aberta.Scanner/appsettings.Development.json