a[b-2nl2kyj07i]{
    color: #000000;
}

.cell[b-2nl2kyj07i]{
    vertical-align: middle;
    font-size: 1.2rem;
    color: white;
}

.table-row:hover[b-2nl2kyj07i] {
    background-color: rgba(253, 236, 0, 0.42);
}

table[b-2nl2kyj07i]{
    border-color: #0000;
}

.t-paint[b-2nl2kyj07i]{
    border-bottom: 1px solid white;
}

input:focus[b-2nl2kyj07i]{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #FDEC00;
}